<!doctype html>
<html lang="en" class="noIE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png"/>
    <link rel="stylesheet" href="https://use.typekit.net/yxj6wqv.css">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="https://kit.fontawesome.com/11a0f31550.js" crossorigin="anonymous"></script>
    {{ content_for_header }}
  </head>
  <body>
    {%- if settings.use_top_header == true -%}
      {% section 'header_top' %}
    {%- endif -%}
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}
    {{ 'custom_scripts.js' | asset_url | script_tag }}
  </body>
</html>