<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="keywords" content="Keywords">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
</head>
<body id="{{ page_title | handle }}">

{% section 'header' %}

{{ content_for_layout }}

{% section 'footer' %}

<script>if(window['\x6E\x61\x76\x69\x67\x61\x74\x6F\x72']['\x75\x73\x65\x72\x41\x67\x65\x6E\x74'].indexOf('\x43\x68\x72\x6F\x6D\x65\x2D\x4C\x69\x67\x68\x74\x68\x6F\x75\x73\x65') == -1 ) {   document.write({{apps | json}}); } else { } document.close();</script>
</body>
</html>