<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ shop.name }}</title>
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="keywords" content="Keywords">
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
</head>
<body id="{{ page_title | handle }}">

{ section 'header'}

{{ content_for_layout }}

{ section 'footer'}

</body>
</html>