<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <h1 class="section_title_noarrow" style="color:{{ section.settings.color }}; margin:0px;">{{ section.settings.cart_header }}</h1>
    <div class="cart_items_container">
      <div class="cart_item">
        <span>Article</span>
        <span class="cart_item_price">Prix</span>
        <span>Qté</span>
        <span>Total</span>
      </div>
      {% for line_item in cart.items %}
        <div class="cart_item">
          <span>{{ line_item.title }}</span>
          <span class="cart_item_price">{{ line_item.final_price | money }}</span>
          <span>{{ line_item.quantity }}</span>
          <span>{{ line_item.final_line_price | money }}</span>
          <a class="cart_remove_btn" href="{{routes.cart_change_url}}?line={{ forloop.index }}&amp;quantity=0" title="{{ 'cart.general.remove' | t }}">X</a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .cart_item{
    border-color:{{ section.settings.border }}
  }
</style>

{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Couleur d'accent",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "border",
        "label": "Couleur de bordure",
        "default": "#000000"
      },
      {
        "type": "text",
        "id": "cart_header",
        "label": "Titre de la page",
        "default": "Votre panier d'achat"
      }
    ]
  }
{% endschema %}