<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <h1 class="collection_title">{% if collection.title == "Produits" %}Tous les produits{% else %}{{ collection.title }}{% endif %}</h1>
    <div class="collection_products_container" style="grid-template-columns:{% case section.settings.col %}{% when 2 %}50% 50%{% when 3 %}33% 33% 33%{% endcase %}">
      {% for product in collection.products %}
        <item class="collection_item">
          <img class="product_image" src="{{ product.featured_image | image_url }}">
          <h2 class="product_title">{{ product.title }}</h2>
          <span class="product_vendor">{{ product.vendor }}</span>
          <span class="product_price">{{ product.price_min | money_without_currency }} $</span>
        </item>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Couleur de fond",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "col",
      "label": "Nombre de colonnes",
      "default": 3,
      "min": 2,
      "max": 6,
      "step": 1
    }
  ]
}
{% endschema %}
