<div class="container">
<div class="header_top">
  <div class="header_top_left">
    <div class="header_top_linklist hide_mobile">
      {% for link in section.settings.top_header_menu.links %}
        <a class="header_top_text blue" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </div>
    <div class="header_top_linklist hide_desktop">
      <a class="header_top_text blue" href="{{ section.settings.top_header_mobile_link }}">{{ section.settings.top_header_mobile_text }}</a>
    </div>
  </div>
  <div class="header_top_right">
    <div class="header_searchbar hide_desktop">
      {%- include 'searchbar' -%}
    </div>
    {% if section.settings.top_header_button != blank %}<a class="header_top_button hide_mobile" href="{{ section.settings.top_header_button_url }}">{{ section.settings.top_header_button }}</a>{% endif %}
  </div>
</div>
</div>
{% schema %}
  {
    "name": "Top Header",
    "settings": [
      {
        "type": "header",
        "content": "Top Header"
      },
      {
        "type": "link_list",
        "id": "top_header_menu",
        "label": "Top Header Menu"
      },
      {
        "type": "text",
        "id": "top_header_button",
        "label": "Button Text",
        "default": "Button"
      },
      {
        "type": "url",
        "id": "top_header_button_url",
        "label": "Button URL"
      },
      {
        "type": "header",
        "content": "Mobile"
      },
      {
        "type": "text",
        "id": "top_header_mobile_text",
        "label": "Top header mobile text",
        "default": "À propos"
      },
      {
        "type": "url",
        "id": "top_header_mobile_link",
        "label": "Top header mobile link"
      }
    ]
  }
{% endschema %}