<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_fullwidth container_800 centered_text">
    <h2 class="section_title" style="color:{{ section.settings.text_color }}">{{ section.settings.section_title }}</h2>
    <h6 class="section_subtitle" style="margin-bottom:25px; color:{{ section.settings.text_color }}">{{ section.settings.section_subtitle }}</h6>
    <p class="section_text" style="color:{{ section.settings.text_color }}">{{ section.settings.section_text }}</p>
    <div style="margin-bottom:50px; max-width:{{ section.settings.infolettre_width }}">
        
        {% form 'customer' %}
          {{ form.errors | default_errors }}
          {% if form.posted_successfully? %}
            <p>Merci!</p>
            {% else %}
            <div class="infolettre_form">
            <input type="hidden" name="contact[tags]" value="newsletter">
      <input type="email"
        name="contact[email]"
        id="Email"
        value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
        placeholder="Votre adresse courriel"
        autocorrect="off"
        autocapitalize="off">
      <button type="submit" name="commit" id="Subscribe">
        <span class="infolettre_btn">&nbsp;&#10095;</span>
      </button>
            </div>
    {% endif %}
  {% endform %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Infolettre",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte",
        "default": "#0F2B55"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Titre de section",
        "default": "Infolettre"
      },
      {
        "type": "textarea",
        "id": "section_text",
        "label": "Texte de section",
        "default": "Afin de rester au courant des nouveaux projets, et de l’entreprenariat étudiant au grand complet!"
      },
      {
        "type": "range",
        "id": "infolettre_width",
        "min": 100,
        "max": 800,
        "step": 50,
        "unit": "px",
        "label": "Largeur de l'infolettre",
        "default": 200
      },
      {
        "type": "paragraph",
        "content": "Any customers who sign up will have an account created for them in Shopify. [View customers](/admin/customers?query=&accepts_marketing=1)"
      }
    ],
    "presets": [
      {
        "name": "Infolettre"
      }
    ]
  }
{% endschema %}