<div style="background-color:{{ section.settings.bg_color }}">
  <div class="section_container_1200 centered_text">
    <h2 class="section_title" style="color:{{ section.settings.title_color }}">{{ section.settings.title }}</h2>
    <div class="container_800">
      <p class="section_text" style="color:{{ section.settings.text_color }}">{{ section.settings.text }}</p>
    </div>
    <div class="icon_text_section">
      {% for block in section.blocks %}
      <div class="icon_text_section_item">
        <img class="icon_text_section_image" src="{{ block.settings.icon }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Mission Section",
    "settings": [
      {
        "type": "color",
        "id": "title_color",
        "label": "Couleur du titre",
        "default": "#0F2B55"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre de section",
        "default": "Titre"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte",
        "default": "#0F2B55"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Texte",
        "default": "Lorem ipsum dolor sit amet"
      }
    ],
    "blocks": [
     {
       "name": "Icône avec texte",
       "type": "icon",
       "settings": [
         {
           "type": "url",
           "id": "icon",
           "label": "Source de l'icône"
         },
         {
           "type": "textarea",
           "id": "text",
           "label": "Texte"
         },
         {
           "type": "color",
           "id": "color",
           "label": "Couleur du texte"
         }
       ]
     }
   ],
    "presets": [
      {
        "name": "Mission Section"
      }
    ]
  }
{% endschema %}