<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <div class="grid" style="grid-template-columns:50% 50%; align-items:start">
      {% for block in section.blocks %}
      {% case block.type %}
      {% when "image" %}
      <div class="product_image_container" style="border-color:{{ section.settings.border_color }};">
        <img class="product_image_main" id="mainImage" src="{{ product.featured_image | image_url }}">
        <div class="product_image_carrousel">
        {% for image in product.images %}
          <img class="product_image_thumbnail" src="{{ image | image_url }}">
        {% endfor %}
        </div>
      </div>
      <div class="product_info" style="border-color:{{ section.settings.border_color }};">
        {% when "text" %}
        <div class="product_title_row">
          <h1 class="product_title" style="color:{{ block.settings.title_color }}; border-color:{{ block.settings.title_color }}">{{ product.title }}</h1>
          {% if product.available %}<span class="product_available">Disponible</span>
          {% else %}<span class="product_unavailable">Indisponible</span>{% endif %}
        </div>
        <a href="/collections/{{ product.vendor }}"><span class="product_vendor" style="color:{{ block.settings.vendor_color }}">{{ product.vendor }}</span></a>
        <p class="product_description" style="color:{{ block.settings.description_color }}">{{ product.description }}</p>
        {% when "buttons" %} 
        <div class="product_buttons">
        {% form 'product', product %}
          {% unless product.has_only_default_variant %}
          <select class="product_variant_selector" style="margin-bottom:20px;" name="id">
          {% for variant in product.variants %}
            <option value="{{ variant.id }}" {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
          {% endfor %}
          </select>
          {% endunless %}
          <div style="display:flex; gap:20px;">
          <div class="product_quantity_button">
            <span class="product_quantity_btns" onClick='decreaseCount(event, this)'>-</span>
            <input class="product_quantity" type="text" name="quantity" min="1" value="1">
            <span class="product_quantity_btns" onClick='increaseCount(event, this)'>+</span>
          </div>
          <input class="add_to_cart" style="display:inline-flex" type="submit" value="Add to cart">
          </div>
          <style>
            .add_to_cart {
              color:{{ block.settings.button_text_color }};
              background-color:{{ block.settings.button_bg_color }};
            }
            .add_to_cart:hover {
              color:{{ block.settings.button_text_color_hover }};
              background-color:{{ block.settings.button_bg_color_hover }};
            }
          </style>
          {% endform %}
        </div>
      </div>
      {% endcase %}{% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Product",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Couleur de fond"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Couleur de la bordure"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Images de produit"
        }
      ]
    },
    {
      "name": "Texte",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Couleurs"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Nom du produit",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "vendor_color",
          "label": "Vendeur",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "description_color",
          "label": "Description",
          "default": "#000000"
        }
      ]
    },
    {
      "name": "Boutons",
      "type": "buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Boutons d'achat"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "Texte du bouton d'achat",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "button_text_color_hover",
          "label": "Texte du bouton d'achat hover",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_bg_color",
          "label": "Fond du bouton d'achat",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "button_bg_color_hover",
          "label": "Fond du bouton d'achat hover",
          "default": "#fff"
        }
      ]
    }
  ],
  "default": {
    "settings": {
      "bg": "#FAFAFA"
    },
    "blocks": [
      {
        "type": "image"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
