<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200 centered_text">
    <h2 class="section_title_noarrow" style="margin-bottom:20px; margin-top:0px; line-height:1; color:{{ section.settings.text_color }}">{{ page.title }}</h2>
    <p class="section_text" style="color:{{ section.settings.text_color }}">{{ page.content }}</p>
  </div>
</div>

{% schema %}
  {
    "name": "Infos du projet",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte",
        "default": "#000000"
      }
    ]
  }
{% endschema %}