<div style="background-color:{{ section.settings.bg_color }}">
<div class="section_container_1200">
  <div class="slideshow">

  {% for block in section.blocks %}
    <div class="slideshow_item active_slide">
      <a href="{{ block.settings.link }}">
        <div style="{% if block.settings.image == blank %}background-color:black;{% else %}background-image:url('{{ block.settings.image | image_url }}'){% endif %}" class="slideshow_item_container">
          <h2 class="slideshow_text" style="color:{{ block.settings.text_color }}">{{ block.settings.text }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">&#10094; </a>
  <a class="next" onclick="plusSlides(1)"> &#10095;</a>
</div>
{% if section.settings.button_text != blank %}
  <div class="main_btn centered_btn" style="margin-top:50px"><a href="{{ section.settings.button_link }}"><span class="main_btn_text slideshow_button">{{ section.settings.button_text }}</span></a></div>
{% endif %}
</div>
</div>

<style>
  .slideshow_button{
    color:{{ section.settings.button_text_color }};
    background-color:{{ section.settings.button_color }}
  }
  .slideshow_button:hover{
    color:{{ section.settings.button_text_color_hover }};
    background-color:{{ section.settings.button_color_hover }};
  }
</style>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": "Couleur de fond",
        "default": "#fff"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Texte du bouton"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Lien du bouton"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Couleur du texte du bouton",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Couleur du bouton",
        "default": "#0F2B55"
      },
      {
        "type": "color",
        "id": "button_text_color_hover",
        "label": "Couleur du texte du bouton hover",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_color_hover",
        "label": "Couleur du bouton hover",
        "default": "#000000"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Texte"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Couleur du texte",
            "default": "#fff"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Lien"
          }
        ]
     }
  ],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}