<div class="section_container_1200">
  <div class="slideshow">

  {% for block in section.blocks %}
    <div class="slideshow_item active_slide">
      <a href="{{ block.settings.link }}">
        <div style="{% if block.settings.image == blank %}background-color:black;{% else %}background-image:url('{{ block.settings.image | image_url }}'){% endif %}" class="slideshow_item_container">
          <h2 class="slideshow_text" style="color:{{ block.settings.text_color }}">{{ block.settings.text }}</h2>
        </div>
      </a>
    </div>
  {% endfor %}

  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
{% if section.settings.button_text != blank %}
  <div href="{{ section.settings.button_link }}" class="main_btn"><span class="main_btn_text">{{ section.settings.button_text }}</span></div>
{% endif %}
</div>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [
      {
        "type": "text",
        "id": "button_text",
        "label": "Texte du bouton"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Lien du bouton"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Texte"
          },
          {
            "type": "color",
            "id": "text_color",
            "label": "Couleur du texte",
            "default": "#fff"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Lien"
          }
        ]
     }
  ],
    "presets": [
      {
        "name": "Slideshow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}