<div style="background-color:{{ section.settings.bg }}">
  <div class="section_container_1200">
    <div class="union_section">
      <div class="union_section_left">
        <h2 class="section_title_noarrow" style="color:{{ section.settings.title_color }}">{{ section.settings.title }}</h2>
        <p class="section_text" style="color:{{ section.settings.text_color }}">{{ section.settings.text }}</p>
        <div class="main_btn" style="margin-top:50px; margin-bottom:70px;"><a href="{{ section.settings.button_link }}"><span class="main_btn_text union_button">{{ section.settings.button_text }}</span></a></div>
      </div>
      <div class="union_section_right">
        <div class="union_diagram">
          <item class="union_diagram_1"></item>
          <item class="union_diagram_2"></item>
          <item class="union_diagram_3"></item>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .union_button{
    color:{{ section.settings.button_text_color }};
    background-color:{{ section.settings.button_color }}
  }
  .union_button:hover{
    color:{{ section.settings.button_text_color_hover }};
    background-color:{{ section.settings.button_color_hover }};
  }
</style>

{% schema %}
  {
    "name": "Union Section",
    "settings": [
      {
        "type": "color",
        "id": "bg",
        "label": "Couleur de fond",
        "default": "#0F2B55"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titre de section",
        "default": "L'union fait la force"
      },
      {
        "type": "color",
        "id": "title_color",
        "label": "Couleur du titre",
        "default": "#ffffff"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Texte de la section",
        "default": "Lorem ipsum dolor sit amet"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Couleur du texte",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Texte du bouton",
        "default": "En savoir plus"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Lien du bouton"
      },
      {
        "type": "color",
        "id": "button_text_color",
        "label": "Couleur du texte du bouton",
        "default": "#0F2B55"
      },
      {
        "type": "color",
        "id": "button_color",
        "label": "Couleur du bouton",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_text_color_hover",
        "label": "Couleur du texte du bouton hover",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "button_color_hover",
        "label": "Couleur du bouton hover",
        "default": "#000000"
      }
    ],
    "presets": [
      {
        "name": "Union Section"
      }
    ]
  }
{% endschema %}